name: DevSecOps CI Pipeline (Java + Reports)

on:
  push:
    branches: [master]
  pull_request:

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java + Maven
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Generate SBOM
        run: mvn org.cyclonedx:cyclonedx-maven-plugin:2.9.1:makeBom

      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: SBOM-Report
          path: target/bom.xml
  build:
    runs-on: ubuntu-latest
    needs: sbom
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java + Maven
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build Project
        run: mvn clean install -DskipTests

  sca:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Install Snyk Tools
        run: npm install -g snyk snyk-to-html

      - name: Authenticate Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}

      - name: Run SCA Scan
        run: |
          snyk test --file=pom.xml --json-file-output=sca.json || true
          snyk-to-html -i sca.json -o sca.html

      - name: Upload SCA Report
        uses: actions/upload-artifact@v4
        with:
          name: SCA-HTML-Report
          path: sca.html

  sast:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Install Snyk Tools
        run: npm install -g snyk snyk-to-html

      - name: Authenticate Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}

      - name: Run SAST Scan (Snyk Code)
        run: |
          snyk code test --severity-threshold=low --json-file-output=sast.json || true
          snyk-to-html -i sast.json -o sast.html

      - name: Upload SAST Report
        uses: actions/upload-artifact@v4
        with:
          name: SAST-HTML-Report
          path: sast.html

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java + Maven
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Run Tests
        run: mvn test
